@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arima, sans-serif;
    font-weight: 300;
    color:#000;
    background: url("../image/homework.jpg") no-repeat center center;
}

#container-header {
    max-width: 3000px;
    width: 100%;
    min-height: 80px;
    background-color: aqua;
}



#logo {
    float: left;
    color: #000;
    margin-left: 25px;
    margin-top: 15px;
}

#logo:hover {
    color: green;
}

#menu {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    margin-left: 19px;
}

#menu a {
    text-decoration-line: none;
    color:#000;
    font-size: 140%;
    padding: 6px;
    
}

#menu a:hover {
    color:green;
}

#menu #logo {
    line-height: 80px;

    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-flex;
}

#home {
    max-width: 3000px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 128, 0);
}

#image-homework {
    
}

#cover-text {
    max-width: 385px;
    width: 100%;
    min-height: 140px;
    background-color: green;
    text-align: center;
    padding: 25px;
    
    
}

#cover-text h2, p {
    color: azure;
    font-size: 160%;
}

#cover-text i {
    color: azure;
}

#cover-text i:hover {
    color: black;
}

#about {
    max-width: 3000px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 128, 0);
}

#cover-text-about {
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    background-color: green;
    text-align: center;
    padding: 25px;
    
    
}

#cover-text-about h2, p {
    color: azure;
    font-size: 160%;
}

#cover-text-about i {
    color: azure;
}

#cover-text-about i:hover {
    color: black;
}

