@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arima, sans-serif;
    font-weight: 300;
    color:#000;
    background: url("../image/hw.jpg") no-repeat center center;
    background-attachment: fixed;
    
    
}



#container-header {
    max-width: 3000px;
    width: 100%;
    min-height: 80px;
    background-color: aqua;
}



#logo {
    float: left;
    color: #fff;
    margin-left: 25px;
    margin-top: 15px;
}

#logo:hover {
    color: black;
}

#menu {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    margin-left: 19px;
    
}

#menu a {
    text-decoration-line: none;
    color:#fff;
    font-size: 140%;
    padding: 6px;
    
}

#menu a:hover {
    color:#000;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-flex;
}



#home {
    max-width: 3000px;
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 128, 0);
}



#cover-text-home {
    max-width: 385px;
    width: 100%;
    min-height: 140px;
    background-color: green;
    text-align: center;
    padding: 25px;
    margin: 25px;
    
    
}

#cover-text-home h2, p {
    color: azure;
    font-size: 160%;
    
}

#cover-text-home i {
    color: azure;
}

#cover-text-home i:hover {
    color: black;
}

#about {
    max-width: 3000px;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 128, 0);
}

#cover-text-about {
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    width: 100%;
    background-color: green;
    text-align: center;
    padding: 25px;
    margin: 25px;
    
    
}

#cover-text-about h2, p {
    color: azure;
    font-size: 160%;
    text-align: center;
    
}

#point-list  {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 25px;
   padding-top: 25px;

}

#table {
    font-size: 165%;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid #fff;
    margin-bottom: 25px;
    margin-top: 25px;
}

td {
    padding: 8px 16px 8px 16px;
}

h3 {
    font-size: 165%;
    color: #fff;
    padding-top: 35px;
  }

#cover-text-about i {
    color: azure;
}

#cover-text-about i:hover {
    color: black;
}

#contact {
    max-width: 3000px;
    width: 100%;
    min-height: 750px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 128, 0);
}

#cover-form {
    max-width: 600px;
    width: 100%;
    min-height: 400px;
   
    background-color: green;
    font-size: 160%;
    padding: 25px;
    margin: 35px;
   
    
}



#form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#form input {
   padding: 10px;
}

#select {
    padding: 10px;
}

#message {
    padding: 10px;
}

#form button {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 70%;
}

#form button:hover {
    
    color: black;
    background-color: rgb(77, 135, 77);
}

#container-footer {
    max-width: 3000px;
    width: 100%;
    min-height: 80px;
    background-color: green;
    
}

#logo-footer {
    float: left;
    color: #fff;
    margin-left: 25px;
    margin-top: 15px;
}

#logo-footer:hover {
    color: black;
}

#social-media {
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    margin-left: 19px;
    
}


#social-media a {
    text-decoration-line: none;
    color:#fff;
    font-size: 140%;
    padding: 6px;
    
}

#social-media a:hover {
    color:#000;
}


#social-media ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#social-media li {
    display: inline-flex;
}


@media screen and (max-width: 580px) {
    #container-footer, #container-header {
        min-height: 135px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #logo  {
        padding-left: 20px;
    }

    #logo-footer  {
        margin-left: 0px;
    }

    #cover-text-home, #cover-text-about, #table, #cover-form, p, h2 {
        font-size: 100%;
    }


}

